a2wsgi==1.10.7
aiofiles==24.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiokafka==0.12.0
aiosignal==1.3.1
aiosqlite==0.20.0
alembic==1.8.1
altair==5.4.1
aniso8601==9.0.1
annotated-types==0.7.0
anyio==4.6.2.post1
appdirs==1.4.4
asgiref==3.8.1
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1698341106958/work
async-timeout==5.0.1
attrs==24.2.0
autopage==0.5.2
bcrypt==4.0.1
bentoml==1.3.14
blinker==1.8.2
Bottleneck @ file:///C:/b/abs_f05kqh7yvj/croot/bottleneck_1707864273291/work
Brotli==1.1.0
cachetools==5.5.0
catboost==1.2.7
cattrs==23.1.2
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
circus==0.18.0
click==8.1.3
click-option-group==0.5.6
cliff==4.7.0
cloudpickle==2.2.1
cmaes==0.11.1
cmd2==2.5.4
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
colorlog==6.9.0
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1710320294760/work
contourpy==1.3.0
cryptography==43.0.3
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
databricks-sdk==0.33.0
debugpy @ file:///D:/bld/debugpy_1727240726302/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
deepmerge==2.0
Deprecated==1.2.14
distro==1.9.0
docker==7.1.0
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1720869315914/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1725214404607/work
fastapi==0.109.2
Flask==3.0.3
fonttools @ file:///C:/b/abs_f47gnfqnx0/croot/fonttools_1713551644747/work
frozenlist==1.5.0
fs==2.4.16
gevent==24.11.1
geventhttpclient==2.0.2
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.35.0
googleapis-common-protos==1.66.0
graphene==3.3
graphql-core==3.2.4
graphql-relay==3.2.0
graphviz==0.20.3
greenlet==3.1.1
grpcio==1.67.1
h11==0.14.0
httpcore==1.0.7
httptools==0.6.4
httpx==0.27.2
httpx-ws==0.6.2
idna==3.10
importlib-metadata==6.11.0
importlib-resources==5.13.0
inflection==0.5.1
ipinfo==5.1.1
ipykernel @ file:///D:/bld/ipykernel_1719845595208/work
ipython @ file:///D:/bld/ipython_1725050320818/work
ipywidgets==8.1.5
itsdangerous==2.2.0
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1696326070614/work
Jinja2==3.1.4
joblib==1.1.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1726610684920/work
jupyter_core @ file:///D:/bld/jupyter_core_1710257313664/work
jupyterlab_widgets==3.0.13
kiwisolver @ file:///C:/ci_311/kiwisolver_1676431979301/work
lightgbm==3.3.2
Mako==1.3.5
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.2
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1713250518406/work
mdurl==0.1.2
mkl-service==2.4.0
mkl_fft @ file:///C:/b/abs_f55mv94vyg/croot/mkl_fft_1725370278455/work
mkl_random @ file:///C:/b/abs_21ydbzdu8d/croot/mkl_random_1725370276095/work
mlflow==2.17.2
mlflow-skinny==2.17.2
mlserver==1.4.0
mlserver-mlflow==1.6.1
multidict==6.1.0
mysqlclient==2.2.4
narwhals==1.13.3
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1705850609492/work
numexpr @ file:///C:/b/abs_5fucrty5dc/croot/numexpr_1696515448831/work
numpy==1.26.4
nvidia-ml-py==12.560.30
opentelemetry-api==1.20.0
opentelemetry-exporter-otlp-proto-common==1.28.1
opentelemetry-exporter-otlp-proto-grpc==1.28.1
opentelemetry-instrumentation==0.41b0
opentelemetry-instrumentation-aiohttp-client==0.41b0
opentelemetry-instrumentation-asgi==0.41b0
opentelemetry-instrumentation-fastapi==0.49b1
opentelemetry-instrumentation-grpc==0.49b1
opentelemetry-proto==1.28.1
opentelemetry-sdk==1.20.0
opentelemetry-semantic-conventions==0.41b0
opentelemetry-util-http==0.41b0
optuna==2.10.0
orjson==3.10.11
packaging @ file:///C:/b/abs_c3vlh0z4jw/croot/packaging_1720101866539/work
pandas==2.2.3
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1712320355065/work
passlib==1.7.4
pathspec==0.12.1
pbr==6.1.0
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
pillow @ file:///C:/b/abs_32o8er3uqp/croot/pillow_1721059447598/work
pip-requirements-parser==32.0.1
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1726613481435/work
plotly==5.24.1
ply==3.11
prettytable==3.12.0
prometheus_client==0.21.0
prompt_toolkit==3.0.48
propcache==0.2.0
protobuf==5.28.2
psutil @ file:///D:/bld/psutil_1725737996000/work
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1721585709575/work
py-grpc-prometheus==0.8.0
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.8.2
pydantic-settings==2.6.1
pydantic_core==2.20.1
pydeck==0.9.1
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1714846767233/work
PyJWT==2.7.0
Pympler==1.1
PyMySQL==1.1.1
pyparsing @ file:///C:/b/abs_520r19rysg/croot/pyparsing_1725041656021/work
pyperclip==1.9.0
PyQt5==5.15.10
PyQt5-sip @ file:///C:/b/abs_c0pi2mimq3/croot/pyqt-split_1698769125270/work/pyqt_sip
pyreadline3==3.5.4
python-dateutil @ file:///C:/b/abs_3au_koqnbs/croot/python-dateutil_1716495777160/work
python-dotenv==1.0.1
python-json-logger==2.0.7
python-multipart==0.0.17
python-rapidjson==1.14
pytz @ file:///C:/b/abs_6ap4tsz1ox/croot/pytz_1713974360290/work
pywin32==306
PyYAML==6.0.2
pyzmq @ file:///D:/bld/pyzmq_1725430506817/work
questionary==2.0.1
referencing==0.35.1
requests==2.32.3
rich==13.9.4
rpds-py==0.21.0
rsa==4.9
schema==0.7.7
scikit-learn==1.1.3
scipy==1.14.1
seaborn @ file:///C:/b/abs_ca2mi1rgmn/croot/seaborn_1718303534355/work
secure==0.3.0
semver==3.0.2
simple-di==0.1.5
sip @ file:///C:/b/abs_edevan3fce/croot/sip_1698675983372/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
smmap==5.0.1
sniffio==1.3.1
SQLAlchemy==2.0.35
SQLAlchemy-Utils==0.41.2
sqlmodel==0.0.18
sqlparse==0.5.1
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
starlette==0.36.3
starlette_exporter==0.23.0
stevedore==5.3.0
streamlit==1.8.1
tenacity==9.0.0
threadpoolctl==3.5.0
toml==0.10.2
tomli_w==1.1.0
tornado @ file:///C:/b/abs_7bua0304mj/croot/tornado_1718740122405/work
tqdm==4.66.5
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1713535121073/work
tritonclient==2.42.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1717802530399/work
tzdata @ file:///croot/python-tzdata_1690578112552/work
tzlocal==5.2
unicodedata2 @ file:///C:/b/abs_b6apldlg7y/croot/unicodedata2_1713212998255/work
urllib3==2.2.3
uv==0.5.4
uvicorn==0.32.0
validators==0.34.0
waitress==3.0.0
watchdog==6.0.0
watchfiles==0.24.0
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1704731205417/work
websockets==14.0
Werkzeug==3.0.4
widgetsnbextension==4.0.13
wrapt==1.16.0
wsproto==1.2.0
xgboost==1.5.2
yarl==1.17.1
zenml==0.70.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1726248574750/work
zope.event==5.0
zope.interface==7.1.1
